<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1,h2 {
    color:#444;
}
.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn.hover {
    color: #f05462;
    background: white;
    padding : 3px 8px;
    border: 2px solid #f05462;
}
.side-menu{
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height:100vh;
    display:flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;

}
.side-menu li:hover {
    background: white;
    color: #f05462;

}
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
}
.container .header .nav .search button{
    width: 30px;
    height: 30px;
}
.container .header .nav .user{
    flex: 1;
}
        </style>
        <title>Admin panel</title>
    </head>
    <body>
        <div class="side-menu">
            <div class="brand-name">
                <h1>Brand</h1>
            </div>
            <ul>
                <li><i class="fa-solid fa-gauge"></i>&nbsp;Dashboard</li>
                <li><i class="fa-solid fa-user"></i>&nbsp;Staff</li>
                <li><i class="fa-solid fa-box"></i>&nbsp;Storage</li>
                <li><i class="fa-solid fa-money-bill"></i>&nbsp;Incomes</li>
            </ul>
        </div>
        <div class="container">
            <div class="header">
                <div class="nav">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                        <div class="user">
                            <a href="#" class="btn">Add new</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>