<div class="side-menu">
  <div class="brand-name">
    <h1>Brand</h1>
  </div>
  <div>
    <ul>
      <li><i class="fa-solid fa-gauge"></i>&nbsp;Dashboard</li>
      <li><i class="fa-solid fa-user"></i>&nbsp;Staff</li>
      <li><i class="fa-solid fa-box"></i>&nbsp;Storage</li>
      <li><i class="fa-solid fa-money-bill"></i>&nbsp;Incomes</li>
    </ul>
  </div>
  <div class="container">
    <div class="header">
      <div class="nav">
        <div class="search">
          <input type="text" placeholder="Search" />
          <button type="submit"><i
              class="fa-solid fa-magnifying-glass"
            ></i></button>
        </div>
        <div class="user">
          <a href="#" class="btn">Add new</a>
        </div>

      </div>
    </div>
  </div>
</div>